agente de calendario.json
{
  "name": "agente de calendario",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -928,
        112
      ],
      "id": "9d78772f-adf9-417f-ad7b-09b4f457c260",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39c2f302-03be-4464-a17a-d7cc481d6d44",
              "name": "=response",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e9593173-2be9-498f-95b0-1f413e87e3b3",
      "name": "✅",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ab380a2-a8d3-421c-ab4e-748ea8fb7904",
              "name": "response",
              "value": "No se puede realizar la tarea. Por favor, inténtalo de nuevo.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "342e3515-0a01-4b0a-a871-d118e9837755",
      "name": "❌",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        208
      ]
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "8669c9f3dc5f801d7f994659a52b6dd818f306f1715312f03cf88fe0aa83d045@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Calendario - Clinica sonrisas"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {
          "timezone": {
            "__rl": true,
            "value": "America/Argentina/Buenos_Aires",
            "mode": "list",
            "cachedResultName": "America/Argentina/Buenos_Aires"
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -624,
        400
      ],
      "id": "bab79d82-f283-41d1-a2e6-1f0010688206",
      "name": "disponibilidad",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Uc4MHpNryb6YSIyp",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "8669c9f3dc5f801d7f994659a52b6dd818f306f1715312f03cf88fe0aa83d045@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Calendario - Clinica sonrisas"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Deberás añadir el dia y hora de inicio de la cita`, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `Deberás añadir el dia y hora del inicio de la cita en correspondencia a lo que dura ese tratamiento`, 'string') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Attendees', `Aquí añadirás el correo del cliente`, 'string') }}"
          ],
          "location": "C/ Clinica Sonrisas 99, Barcelona, 08918",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `Aquí añadirás el resumen de la visita con el servicio y info importante del cliente`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -368,
        400
      ],
      "id": "a2e44524-cd23-4cfc-976c-53b8ae44c724",
      "name": "reserva",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Uc4MHpNryb6YSIyp",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=\nEres el asistente de WhatsApp de **Clínica Dentalia**, especializado en la atención al cliente, gestión de pacientes y registros de la clínica dental. Tu principal objetivo es ver disponibilidad y agendar citas\n\n\n- Fecha y hora actual: **{{ $now }}**\n- Zona horaria: Argentina (GMT-3)\n- Si no se especifica una duración para un evento, se asumirá que durará una hora.\n\nGestion de citas\n1 ver disponibilidad con la tool disponibilidad \n2 agendar cita en la tool reserva\nNo agendar citas los dias sabados, domingos y feriados\n\n \n"
        }
      },
      "id": "e0bdd04f-d5c3-4500-b182-2a271b60bd9e",
      "name": "Agente_de_Calendario",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -688,
        112
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -784,
        352
      ],
      "id": "fea385e0-6f70-4054-9d0f-7e7388e578fa",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "2xQh2Z1wutftnNky",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Agente_de_Calendario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "disponibilidad": {
      "ai_tool": [
        [
          {
            "node": "Agente_de_Calendario",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "reserva": {
      "ai_tool": [
        [
          {
            "node": "Agente_de_Calendario",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente_de_Calendario": {
      "main": [
        [
          {
            "node": "✅",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente_de_Calendario",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fc3ac2f0-b8d0-46ea-8a2b-30c70369b8e7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1c4316da3955a84220b9791dc95d8bdfc95a3051810fe38a4e771cc112fc1987"
  },
  "id": "WGgjjw8xjfnIm54N",
  "tags": [
    {
      "createdAt": "2025-10-20T17:16:24.559Z",
      "updatedAt": "2025-10-20T17:16:24.559Z",
      "id": "ckXYk7yVDjbZWzSA",
      "name": "secretaria"
    }
  ]
}