crm secretaria.json
{
  "name": "crm secretaria",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1168,
        48
      ],
      "id": "b6986efd-66f2-49c1-a2e8-4f576a59264d",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39c2f302-03be-4464-a17a-d7cc481d6d44",
              "name": "=response",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bffc1ea6-1e44-491c-acf5-aeb84aa2d3b9",
      "name": "✅",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ab380a2-a8d3-421c-ab4e-748ea8fb7904",
              "name": "response",
              "value": "No se puede realizar la tarea. Por favor, inténtalo de nuevo.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "dd631978-2108-4a75-a00e-f83063767c4d",
      "name": "❌",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        208
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Resumen\nEres un asistente de CRM especializado en la gestión de pacientes y registros de la clínica dental. Tus responsabilidades incluyen la gestión de leads, actualización de visitas, consulta de horarios de doctores y detalles de los servicios de la clínica. No realizas cambios en el calendario, ya que esa función es exclusiva del **Agente_de_Calendario**.\n\n## Herramientas de Gestión del CRM\n- **Leads_interesados** → Para registrar o actualizar la información de un lead interesado en los servicios de la clínica.\n- **Registro_visitas** → Para anotar o actualizar las visitas agendadas de los pacientes.\n- **Horarios_doctores_clinica** → Para consultar los horarios disponibles de los doctores y asignar el doctor correspondiente a cada visita agendada.\n- **Servicios_clinica** → Para recuperar información detallada sobre los servicios de la clínica.\n\n## Flujo de Trabajo del Agente de CRM\n\n### 1. Consulta de Información\n- Si un cliente solicita detalles sobre los servicios, utilizar la tool **Servicios_clinica**.\n- Si un cliente pregunta por la disponibilidad de doctores, consultar **Horarios_doctores_clinica**.\n\n### 2. Registro de Leads_interesados\n- Cuando un cliente exprese interés en un servicio, utilizar la tool **Leads_interesados** para registrar su información.\n- Si el lead ya existe en la base de datos, actualizar sus datos según la conversación.\n- Ejemplo de estados a registrar:\n  - **\"Cita agendada\"** si el lead ya ha confirmado una visita.\n  - **\"Nuevo lead\"** siempre que registres un nuevo lead.\n  - **\"Cita cancelada\"** en caso de que el cliente cancele una visita.\n\n### 3. Registro y Actualización de Visitas\n- Cuando un cliente haya agendado una cita (validado por el **Agente_de_Calendario**), actualizar la tool **Registro_visitas** con:\n  - **Nombre del paciente**\n  - **Servicio de interés**\n  - **Fecha y hora de la cita** : el formato utilizado sera (Miercoles 05 Marzo 18:00)\n  - **Estado:** \"Cita Agendada\"\n  - **Doctor asignado:** Para determinar el doctor correspondiente, verificar el servicio y la hora de la cita con la tool **Horarios_doctores_clinica** y asignar el doctor adecuado.\n- Si un cliente cancela su cita, actualizar su estado en **Registro_visitas** como \"Cancelada\".\n- Si un cliente reprograma su cita, actualizar la tool **Registro_visitas** con la nueva fecha y hora, verificando nuevamente el doctor asignado con **Horarios_doctores_clinica**.\n- Enviar una confirmación al cliente con los detalles de su cita, incluyendo el doctor asignado.\n\n### 4. Notificaciones al Equipo de Ventas\n- Enviar un correo automático a **lcottua@gmail.com** cuando un nuevo lead se registre o cuando una visita sea confirmada.\n\n## Notas Finales\n- **Fecha y hora actual:** **{{ $now }}**\n- **Zona horaria:** Madrid (GMT+1)\n- **Formato de fecha para el CRM:** Miercoles 05 Feb 18:00\n\n\n## Reglas Generales\n- Siempre verificar si un lead ya está registrado antes de crear uno nuevo.\n- **Asignar correctamente el doctor a cada visita agendada** usando la tool **Horarios_doctores_clinica**.\n- No agendar ni modificar citas; eso es responsabilidad del **Agente_de_Calendario**.\n- Garantizar que toda la información del CRM esté actualizada y organizada.\n\n## Objetivo del Agente\nMantener un CRM actualizado y estructurado, asegurando que los datos de pacientes, visitas y servicios estén correctamente organizados para optimizar la gestión de la clínica y asignar eficientemente los doctores a cada cita agendada.\n\n"
        }
      },
      "id": "ac72f7df-15ef-4edb-ae05-b403bc7c552c",
      "name": "Agente de CRM",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -672,
        48
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1dQjh5oxxpsJJ9SNP8kJIKv2z1AXFLTBnL2J4jFUx7-w",
          "mode": "list",
          "cachedResultName": "CRM - Clinica dental ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dQjh5oxxpsJJ9SNP8kJIKv2z1AXFLTBnL2J4jFUx7-w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 298231385,
          "mode": "list",
          "cachedResultName": "Leads Interesados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dQjh5oxxpsJJ9SNP8kJIKv2z1AXFLTBnL2J4jFUx7-w/edit#gid=298231385"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre_cliente', ``, 'string') }}",
            "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}",
            "WhatsApp": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('WhatsApp', ``, 'string') }}",
            "Servicio de interes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Servicio_de_interes', ``, 'string') }}",
            "Estado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Estado', ``, 'string') }}",
            "Fecha de cita": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha_de_cita', ``, 'string') }}"
          },
          "matchingColumns": [
            "Nombre cliente"
          ],
          "schema": [
            {
              "id": "Nombre cliente",
              "displayName": "Nombre cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "WhatsApp",
              "displayName": "WhatsApp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Servicio de interes",
              "displayName": "Servicio de interes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha de cita",
              "displayName": "Fecha de cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -624,
        464
      ],
      "id": "343ce661-e418-4492-a224-97e10ee455ef",
      "name": "Leads_interesados",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j8jdmIx36AQ9WCa3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1dQjh5oxxpsJJ9SNP8kJIKv2z1AXFLTBnL2J4jFUx7-w",
          "mode": "list",
          "cachedResultName": "CRM - Clinica dental ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dQjh5oxxpsJJ9SNP8kJIKv2z1AXFLTBnL2J4jFUx7-w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1095624873,
          "mode": "list",
          "cachedResultName": "Horarios doctores Clinica",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dQjh5oxxpsJJ9SNP8kJIKv2z1AXFLTBnL2J4jFUx7-w/edit#gid=1095624873"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -320,
        480
      ],
      "id": "70bd91ec-6a4b-4361-bd12-9f8e1d726bb1",
      "name": "Horarios_doctores_clinica",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j8jdmIx36AQ9WCa3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1dQjh5oxxpsJJ9SNP8kJIKv2z1AXFLTBnL2J4jFUx7-w",
          "mode": "list",
          "cachedResultName": "CRM - Clinica dental ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dQjh5oxxpsJJ9SNP8kJIKv2z1AXFLTBnL2J4jFUx7-w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1455234821,
          "mode": "list",
          "cachedResultName": "Registro de visitas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dQjh5oxxpsJJ9SNP8kJIKv2z1AXFLTBnL2J4jFUx7-w/edit#gid=1455234821"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre_cliente__using_to_match_', ``, 'string') }}",
            "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}",
            "WhatsApp": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('WhatsApp', ``, 'string') }}",
            "Servicio de interes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Servicio_de_interes', ``, 'string') }}",
            "Estado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Estado', ``, 'string') }}",
            "Fecha de cita": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha_de_cita', ``, 'string') }}",
            "Doctor": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doctor', ``, 'string') }}"
          },
          "matchingColumns": [
            "Nombre cliente"
          ],
          "schema": [
            {
              "id": "Nombre cliente",
              "displayName": "Nombre cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WhatsApp",
              "displayName": "WhatsApp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Servicio de interes",
              "displayName": "Servicio de interes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha de cita",
              "displayName": "Fecha de cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Doctor",
              "displayName": "Doctor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -192,
        480
      ],
      "id": "f35601cf-1c26-4885-a731-c8cd17fbee78",
      "name": "Registro_visitas",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j8jdmIx36AQ9WCa3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1dQjh5oxxpsJJ9SNP8kJIKv2z1AXFLTBnL2J4jFUx7-w",
          "mode": "list",
          "cachedResultName": "CRM - Clinica dental ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dQjh5oxxpsJJ9SNP8kJIKv2z1AXFLTBnL2J4jFUx7-w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 298231385,
          "mode": "list",
          "cachedResultName": "Leads Interesados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dQjh5oxxpsJJ9SNP8kJIKv2z1AXFLTBnL2J4jFUx7-w/edit#gid=298231385"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -480,
        480
      ],
      "id": "e430dcf0-139b-436d-ad7e-da99b01a6d3e",
      "name": "Ver_Leads_registrados",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j8jdmIx36AQ9WCa3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1dQjh5oxxpsJJ9SNP8kJIKv2z1AXFLTBnL2J4jFUx7-w",
          "mode": "list",
          "cachedResultName": "CRM - Clinica dental ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dQjh5oxxpsJJ9SNP8kJIKv2z1AXFLTBnL2J4jFUx7-w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1455234821,
          "mode": "list",
          "cachedResultName": "Registro de visitas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dQjh5oxxpsJJ9SNP8kJIKv2z1AXFLTBnL2J4jFUx7-w/edit#gid=1455234821"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -48,
        480
      ],
      "id": "1b8deab0-0a32-42b5-9909-f9d837acfcaf",
      "name": "Ver_registro_visitas",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j8jdmIx36AQ9WCa3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1dQjh5oxxpsJJ9SNP8kJIKv2z1AXFLTBnL2J4jFUx7-w",
          "mode": "list",
          "cachedResultName": "CRM - Clinica dental ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dQjh5oxxpsJJ9SNP8kJIKv2z1AXFLTBnL2J4jFUx7-w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1184072519,
          "mode": "list",
          "cachedResultName": "Servicios Clinica",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dQjh5oxxpsJJ9SNP8kJIKv2z1AXFLTBnL2J4jFUx7-w/edit#gid=1184072519"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -800,
        464
      ],
      "id": "227ecee8-1301-479a-8fb1-f8a5599be984",
      "name": "Servicios_clinica",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j8jdmIx36AQ9WCa3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1024,
        368
      ],
      "id": "995ea855-a2de-4bc7-b5c4-0af843636985",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "2xQh2Z1wutftnNky",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Agente de CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente de CRM": {
      "main": [
        [
          {
            "node": "✅",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leads_interesados": {
      "ai_tool": [
        [
          {
            "node": "Agente de CRM",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Horarios_doctores_clinica": {
      "ai_tool": [
        [
          {
            "node": "Agente de CRM",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Registro_visitas": {
      "ai_tool": [
        [
          {
            "node": "Agente de CRM",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ver_Leads_registrados": {
      "ai_tool": [
        [
          {
            "node": "Agente de CRM",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ver_registro_visitas": {
      "ai_tool": [
        [
          {
            "node": "Agente de CRM",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Servicios_clinica": {
      "ai_tool": [
        [
          {
            "node": "Agente de CRM",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente de CRM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "92ad726b-af28-4738-b941-5ab054e38fca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1c4316da3955a84220b9791dc95d8bdfc95a3051810fe38a4e771cc112fc1987"
  },
  "id": "tz1iRmFTv0NFck5j",
  "tags": [
    {
      "createdAt": "2025-10-20T17:16:24.559Z",
      "updatedAt": "2025-10-20T17:16:24.559Z",
      "id": "ckXYk7yVDjbZWzSA",
      "name": "secretaria"
    }
  ]
}